<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hotel - Mini Project (FTGO-P2)</h1>
    <h2>Top Up Notification</h3>
    <p>Top up success. Thank You {{ .Name }}<p>

    <table>
      <caption>Top Up Details</caption>
      <tr>
        <th>Name</th>
        <th>Nominal</th>
        <th>Balance</th>
        <th>Status</th>
        <th>Date</th>
      </tr>
      <tr>
        <td style="padding-left: 15px; font-weight: normal;">{{ .Name }}</td>
        <td style="padding-left: 15px; font-weight: normal;">Rp. {{ .Nominal }},-</td>
        <td style="padding-left: 15px; font-weight: normal;">Rp. {{ .Saldo }},-</td>
        <td style="padding-left: 15px; font-weight: normal;">{{ .Status }}</td>
        <td style="padding-left: 15px; font-weight: normal;">{{ .Date }}</td>
      </tr>
    </table>
  </body>
</html>
